nav{
    padding-top: 29px;
    
}
.main_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.main_menu .logo{
    width: 100px;
    height: 40px;
}
.main_menu .logo img{
    width: 100%;
}
.main_menu .menus ul{
    display: flex;
    gap: 43px;
}
.main_menu .menus ul li a{
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.main_menu .menus ul li a:hover{
    color: #ff6600;
}
.main_menu .icons{
    display: flex;
    gap: 30px;
}
.main_menu .icons a{
    width: 24px;
    height: 24px;
}
.main_menu .icons a img{
    width: 100%;
}
.header-search {
  display: flex;
  align-items: center;
  width: 100%;
  background: #ffffff;
  padding: 10px 0px;
  box-sizing: border-box;
}

/* Left section */
.left-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  height: 40px;
}

.department-dropdown {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  height: 40px;
  background-color: #F3F3F3;
}

/* Search section */
.search-section {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 16px;
  border: 1px solid #ddd;
  height: 40px;
}

.search-input {
  flex: 1;
  border: none;
  padding: 10px 12px;
  font-size: 14px;
  outline: none;
}

.category-dropdown {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 12px;
  border-left: 1px solid #ddd;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}

.search-btn {
  border: none;
  cursor: pointer;
  height: 40px;
}
.search-btn img {
  width: 100%;
}



.arrow {
  font-size: 10px;
}

/* Banner Section */

#banner {
  background: url("assets/banner.png") no-repeat center/cover;
  height: 720px;
  margin-bottom: 23px;
}
.banner_content {
  color: #000000;
 width: 624px;
 height: 342px;
 padding-top: 160px;
  margin-left: 109px;
}
.banner_content h2 {
  font-size: 64px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 85px;
}
.banner_content p {
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 30px;
}
.banner_content .banner_btns {
  display: flex;
  gap: 21px;
}
.banner_btn{
  background: #000000;
  color: #ffffff;
  padding: 14.5px 36px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

/* Sale Card Section */
.sale_card{
  width: 624px;
  height: 344px;
  background: #C4C4C4
   url('./assets/mask.png')
    no-repeat center/cover;
  margin-bottom: 24px;
}
.sale_card .sale_content{
  margin-top: 34px;
  margin-left: 40px;
  width: 219px;
  height: 204px;
}
.sale_card .sale_content h3{
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 26px;
}
.sale_card .sale_content p{
  font-size: 16px;
  line-height: 42px;
}


.sale_list{
  display: flex;
  gap: 32px;
  margin-top: 23px;
}


/* Mini Cards */
.mini_cards{
  display: flex;
  gap: 32px;
  margin-bottom: 42px;
}
.mini_card{
  width: 296px;
  height: 184px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
}
.mini_card .mini_content{
  padding: 30px 70px;
}
.mini_card .mini_content .mini_image{
  width: 64px;
  height: 64px;
  margin-top: 29px;
  margin-bottom: 8px;
  margin: 0 auto;
}
.mini_card .mini_content h4{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 8px;
}
.mini_card .mini_content p{
  font-size: 14px;
  text-align: center;
  color: #555555;
}