:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--inter);
}

a {
    display: inline-block;
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}